@media screen and (max-width:1439px) {
    .banner {
        text-align: center;
        display: inline-block;
    }
    .member {
        margin-left: -100px;
    }
    footer {
        top: 150vh;
    }
}

@media screen and (max-width:1000px) {
    .logo {
        margin-top: 0;
    }
    .team {
        display: inline-block;
    }
    .member {
        margin-left: 0;
    }
    .member>h1 {
        font-size: 26pt;
    }
    .card p {
        font-size: 26pt;
    }
    footer {
        top: 180vh;
        font-size: 12pt;
    }
}

@media screen and (max-width:600px) {
    footer {
        top: 210vh;
    }
}

@media screen and (max-width:500px) {
    footer {
        top: 220vh;
    }
}

@media screen and (max-width:374px) {
    footer {
        top: 230vh;
    }
}